<% @user ||= current_user %>
<div class="stats round" >
  <li><a href="<%= following_user_path(@user) %>">
          <span id="following" class="stat">
            <%= @user.following.count%> siguiendo
          </span>
        </a>
      </li>
      <li>
        <a href="<%= followers_user_path(@user) %>">
          <span id="followers" class="stat">
            <%= pluralize(@user.followers.count, "seguidores") %>
          </span>
        </a>
      </li>
</div>
