<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Acerca de nonotros", about_path %></li>
      <li><%= link_to "Contactenos", contact_path %></li>
      <li><a href="http://news.railstutorial.org/" target="_blank">Noticias</a></li>
      <li><a href="http://www.railstutorial.org/" target="_blank">Tutorial</a></li>
    </ul>
  </nav>
</footer>
