	<div id="top-bar">
		<div class="container">

			<div class="span-16">
				<ul id="top-links-left">
					<li><a href="http://www.ellabullis.org/pages/story"><span>Ella's Story</span></a></li>

					<li><a href="http://www.ellabullis.org/pages/difference"><span>What Makes Us Different</span></a></li>
					<li><a href="http://www.ellabullis.org/pages/team"><span>Our Team &amp; Sponsors</span></a></li>
					<li><a href="http://www.ellabullis.org/news"><span>News</span></a></li>
					<!-- **coming soon!** <li><a href="http://www.ellabullis.org/pages/store"><span>Store</span></a></li> -->
				</ul>
			</div>
                </div>
        </div>
